# Importar las clases

In [1]:
from classes import Extract, Transform, Load, DatabaseConnection

In [2]:
import pandas as pd

# Importar la conexión a la base de datos y el loader para subir datos a nuestra DatawareHouse

In [3]:
db = DatabaseConnection()

OperationalError: could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5433?

In [48]:
db_url = "postgresql+psycopg2://root:root@localhost:5433/bodegaDeDatos"

In [49]:
Load.to_database.__doc__

'\n        Load the dataframe to the databse.\n\n        :param df: DataFrame to load the data.\n        :param table_name: Name of the table to load.\n        '

In [50]:
loader = Load(db_url)

In [51]:
conn = db.get_connection()

# Creamos un extractor a partir de nuestras clases; como es genérico, podemos usarlo varias veces

In [52]:
Extract.extract.__doc__

'Extracts specified columns from a table.\n\n        Args:\n            table_name (str): The name of the table.\n            columns (List[str]): A list of column names to extract.\n\n        Returns:\n            List[tuple]: A list of tuples containing the extracted data.\n        '

In [53]:
extractor = Extract(conn = conn)

# Extraer el género del cliente y traducirlo al español

In [54]:
h, data = extractor.extract('client', ['gender'])

In [55]:
df_gender =  pd.DataFrame(data, columns = h)

In [56]:
df_gender

   gender
0  Female
1    Male

In [57]:
transformer = Transform(df_gender)

In [58]:
df_gender = transformer.gender()

In [59]:
df_gender

   genero                 description
0   Mujer   Persona del sexo femenino
1  Hombre  Persona del sexo masculino

In [ ]:
loader.to_database(df_gender, "genero_dimension")

# Extraer la tarjeta desde la tabla de tarjeta

In [18]:
h, data = extractor.extract('card', ['card'])

In [19]:
df_card = pd.DataFrame(data, columns=h)

In [20]:
df_card

                         card
0           diners-club-us-ca
1                instapayment
2              china-unionpay
3                    bankcard
4   diners-club-carte-blanche
5                        visa
6   diners-club-international
7             americanexpress
8                       laser
9                     maestro
10                       solo
11                     switch
12                        jcb
13              visa-electron
14        diners-club-enroute
15                 mastercard

In [ ]:
loader.to_database(df_card, "card_dimension")

# Extraer el país del cliente y traducirlo al español

In [21]:
h, data = extractor.extract('client', ['country'])

In [22]:
df_country = pd.DataFrame(data, columns=h)

In [23]:
df_country

            country
0       Afghanistan
1     Aland Islands
2           Albania
3           Algeria
4    American Samoa
..              ...
209         Vietnam
210  Western Sahara
211           Yemen
212          Zambia
213        Zimbabwe

[214 rows x 1 columns]

In [ ]:
loader.to_database(df_country, "country_dimension")

# Extraer el producto desde la entidad de producto

In [27]:
h, data = extractor.extract('product', ['product'])

In [28]:
df_product = pd.DataFrame(data, columns=h)

In [29]:
df_product

                           product
0                   Marzipan 50/50
1        Bread - Roll, Whole Wheat
2     Cilantro / Coriander - Fresh
3               Sauce Tomato Pouch
4                        Mahi Mahi
...                            ...
2016         Crush - Orange, 355ml
2017          Bread - Hot Dog Buns
2018  Cheese - Bakers Cream Cheese
2019     Wine - Riesling Dr. Pauly
2020          Roe - Lump Fish, Red

[2021 rows x 1 columns]

In [32]:
loader.to_database(df_product, "product_dimension")

Datos cargados exitosamente en la tabla 'product_dimension'.