# Importar las clases

In [1]:
from classes import Extract, Transform, Load, DatabaseConnection

In [2]:
import pandas as pd

# Importar la conexión a la base de datos y el loader para subir datos a nuestra DatawareHouse

In [3]:
db = DatabaseConnection()

In [4]:
db_url = "postgresql+psycopg2://root:root@localhost:5433/bodegaDeDatos"

In [5]:
Load.to_database.__doc__

'\n        Load the dataframe to the databse.\n\n        :param df: DataFrame to load the data.\n        :param table_name: Name of the table to load.\n        '

In [6]:
loader = Load(db_url)

In [7]:
conn = db.get_connection()

# Creamos un extractor a partir de nuestras clases; como es genérico, podemos usarlo varias veces

In [8]:
Extract.extract.__doc__

'Extracts specified columns from a table.\n\n        Args:\n            table_name (str): The name of the table.\n            columns (List[str]): A list of column names to extract.\n\n        Returns:\n            List[tuple]: A list of tuples containing the extracted data.\n        '

In [9]:
extractor = Extract(conn = conn)

# Extraer el género del cliente y traducirlo al español

In [109]:
h, data = extractor.extract('client', ['gender'])

In [110]:
df_gender =  pd.DataFrame(data, columns = h)

In [111]:
df_gender

   gender
0  Female
1    Male

In [112]:
transformer = Transform(df_gender)

In [113]:
df_gender = transformer.gender()

In [114]:
df_gender

   genero                 description
0   Mujer   Persona del sexo femenino
1  Hombre  Persona del sexo masculino

In [17]:
loader.to_database(df_gender, "genero_dimension", index_name='id_genero')

Datos cargados exitosamente en la tabla genero_dimension

# Extraer la tarjeta desde la tabla de tarjeta

In [115]:
h, data = extractor.extract('card', ['card'])

In [116]:
df_card = pd.DataFrame(data, columns=h)

In [117]:
df_card

                         card
0           diners-club-us-ca
1                instapayment
2              china-unionpay
3                    bankcard
4   diners-club-carte-blanche
5                        visa
6   diners-club-international
7             americanexpress
8                       laser
9                     maestro
10                       solo
11                     switch
12                        jcb
13              visa-electron
14        diners-club-enroute
15                 mastercard

In [22]:
loader.to_database(df_card, "card_dimension", index_name = "id_card")

Datos cargados exitosamente en la tabla card_dimension

# Extraer el país del cliente y traducirlo al español

In [118]:
h, data = extractor.extract('client', ['country'])

In [119]:
df_country = pd.DataFrame(data, columns=h)

In [120]:
df_country

            country
0       Afghanistan
1     Aland Islands
2           Albania
3           Algeria
4    American Samoa
..              ...
209         Vietnam
210  Western Sahara
211           Yemen
212          Zambia
213        Zimbabwe

[214 rows x 1 columns]

In [121]:
transformer_country = Transform(df_country)

In [122]:
df_country_translated = transformer_country.transform_country()

DataFrame original:
            country
0       Afghanistan
1     Aland Islands
2           Albania
3           Algeria
4    American Samoa
..              ...
209         Vietnam
210  Western Sahara
211           Yemen
212          Zambia
213        Zimbabwe

[214 rows x 1 columns]
Procesando país: Afghanistan
Datos obtenidos para Afghanistan: Afganistán
Procesando país: Aland Islands
No se encontraron datos para Aland Islands
Procesando país: Albania
Datos obtenidos para Albania: Albania
Procesando país: Algeria
Datos obtenidos para Algeria: Argelia
Procesando país: American Samoa
Datos obtenidos para American Samoa: Samoa Americana
Procesando país: Andorra
Datos obtenidos para Andorra: Andorra
Procesando país: Angola
Datos obtenidos para Angola: Angola
Procesando país: Anguilla
Datos obtenidos para Anguilla: Anguilla
Procesando país: Antigua and Barbuda
Datos obtenidos para Antigua and Barbuda: Antigua y Barbuda
Procesando país: Argentina
Datos obtenidos para Argentina: Argentina
Procesando país: Armenia
Datos obtenidos para Armenia: Armenia
Procesando país: Aruba
Datos obtenidos para Aruba: Aruba
Procesando país: Australia
Datos obtenidos para Australia: Australia
Procesando país: Austria
Datos obtenidos para Austria: Austria
Procesando país: Azerbaijan
Datos obtenidos para Azerbaijan: Azerbaiyán
Procesando país: Bahamas
Datos obtenidos para Bahamas: Bahamas
Procesando país: Bahrain
Datos obtenidos para Bahrain: Bahrein
Procesando país: Bangladesh
Datos obtenidos para Bangladesh: Bangladesh
Procesando país: Barbados
Datos obtenidos para Barbados: Barbados
Procesando país: Belarus
Datos obtenidos para Belarus: Bielorrusia
Procesando país: Belgium
Datos obtenidos para Belgium: Bélgica
Procesando país: Belize
Datos obtenidos para Belize: Belice
Procesando país: Benin
Datos obtenidos para Benin: Benín
Procesando país: Bermuda
Datos obtenidos para Bermuda: Bermudas
Procesando país: Bhutan
Datos obtenidos para Bhutan: Bután
Procesando país: Bolivia
Datos obtenidos para Bolivia: Bolivia
Procesando país: Bonaire, Saint Eustatius and Saba
No se encontraron datos para Bonaire, Saint Eustatius and Saba
Procesando país: Bosnia and Herzegovina
Datos obtenidos para Bosnia and Herzegovina: Bosnia y Herzegovina
Procesando país: Botswana
Datos obtenidos para Botswana: Botswana
Procesando país: Brazil
Datos obtenidos para Brazil: Brasil
Procesando país: Brunei
Datos obtenidos para Brunei: Brunei
Procesando país: Bulgaria
Datos obtenidos para Bulgaria: Bulgaria
Procesando país: Burkina Faso
Datos obtenidos para Burkina Faso: Burkina Faso
Procesando país: Burundi
Datos obtenidos para Burundi: Burundi
Procesando país: Cambodia
Datos obtenidos para Cambodia: Camboya
Procesando país: Cameroon
Datos obtenidos para Cameroon: Camerún
Procesando país: Canada
Datos obtenidos para Canada: Canadá
Procesando país: Cape Verde
Datos obtenidos para Cape Verde: Cabo Verde
Procesando país: Cayman Islands
Datos obtenidos para Cayman Islands: Islas Caimán
Procesando país: Central African Republic
Datos obtenidos para Central African Republic: República Centroafricana
Procesando país: Chad
Datos obtenidos para Chad: Chad
Procesando país: Chile
Datos obtenidos para Chile: Chile
Procesando país: China
Datos obtenidos para China: Hong Kong
Procesando país: Cocos Islands
Datos obtenidos para Cocos Islands: Islas Cocos o Islas Keeling
Procesando país: Colombia
Datos obtenidos para Colombia: Colombia
Procesando país: Comoros
Datos obtenidos para Comoros: Comoras
Procesando país: Costa Rica
Datos obtenidos para Costa Rica: Costa Rica
Procesando país: Croatia
Datos obtenidos para Croatia: Croacia
Procesando país: Cuba
Datos obtenidos para Cuba: Cuba
Procesando país: Curacao
Datos obtenidos para Curacao: Curazao
Procesando país: Cyprus
Datos obtenidos para Cyprus: Chipre
Procesando país: Czech Republic
Datos obtenidos para Czech Republic: Chequia
Procesando país: Democratic Republic of the Congo
Datos obtenidos para Democratic Republic of the Congo: Congo (Rep. Dem.)
Procesando país: Denmark
Datos obtenidos para Denmark: Dinamarca
Procesando país: Djibouti
Datos obtenidos para Djibouti: Djibouti
Procesando país: Dominica
Datos obtenidos para Dominica: Dominica
Procesando país: Dominican Republic
Datos obtenidos para Dominican Republic: República Dominicana
Procesando país: East Timor
Datos obtenidos para East Timor: Timor Oriental
Procesando país: Ecuador
Datos obtenidos para Ecuador: Ecuador
Procesando país: Egypt
Datos obtenidos para Egypt: Egipto
Procesando país: El Salvador
Datos obtenidos para El Salvador: El Salvador
Procesando país: Equatorial Guinea
Datos obtenidos para Equatorial Guinea: Guinea Ecuatorial
Procesando país: Eritrea
Datos obtenidos para Eritrea: Eritrea
Procesando país: Estonia
Datos obtenidos para Estonia: Estonia
Procesando país: Ethiopia
Datos obtenidos para Ethiopia: Etiopía
Procesando país: Faroe Islands
Datos obtenidos para Faroe Islands: Islas Faroe
Procesando país: Fiji
Datos obtenidos para Fiji: Fiyi
Procesando país: Finland
Datos obtenidos para Finland: Finlandia
Procesando país: France
Datos obtenidos para France: Francia
Procesando país: French Guiana
Datos obtenidos para French Guiana: Guayana Francesa
Procesando país: French Polynesia
Datos obtenidos para French Polynesia: Polinesia Francesa
Procesando país: Gabon
Datos obtenidos para Gabon: Gabón
Procesando país: Gambia
Datos obtenidos para Gambia: Gambia
Procesando país: Georgia
Datos obtenidos para Georgia: Islas Georgias del Sur y Sandwich del Sur
Procesando país: Germany
Datos obtenidos para Germany: Alemania
Procesando país: Ghana
Datos obtenidos para Ghana: Ghana
Procesando país: Greece
Datos obtenidos para Greece: Grecia
Procesando país: Grenada
Datos obtenidos para Grenada: Grenada
Procesando país: Guadeloupe
Datos obtenidos para Guadeloupe: Guadalupe
Procesando país: Guam
Datos obtenidos para Guam: Guam
Procesando país: Guatemala
Datos obtenidos para Guatemala: Guatemala
Procesando país: Guinea
Datos obtenidos para Guinea: Guinea Ecuatorial
Procesando país: Guinea-Bissau
Datos obtenidos para Guinea-Bissau: Guinea-Bisáu
Procesando país: Guyana
Datos obtenidos para Guyana: Guyana
Procesando país: Haiti
Datos obtenidos para Haiti: Haití
Procesando país: Honduras
Datos obtenidos para Honduras: Honduras
Procesando país: Hungary
Datos obtenidos para Hungary: Hungría
Procesando país: Iceland
Datos obtenidos para Iceland: Islandia
Procesando país: Indonesia
Datos obtenidos para Indonesia: Indonesia
Procesando país: Iran
Datos obtenidos para Iran: Iran
Procesando país: Iraq
Datos obtenidos para Iraq: Irak
Procesando país: Ireland
Datos obtenidos para Ireland: Irlanda
Procesando país: Israel
Datos obtenidos para Israel: Israel
Procesando país: Italy
Datos obtenidos para Italy: Italia
Procesando país: Ivory Coast
Datos obtenidos para Ivory Coast: Costa de Marfil
Procesando país: Jamaica
Datos obtenidos para Jamaica: Jamaica
Procesando país: Japan
Datos obtenidos para Japan: Japón
Procesando país: Jordan
Datos obtenidos para Jordan: Jordania
Procesando país: Kazakhstan
Datos obtenidos para Kazakhstan: Kazajistán
Procesando país: Kenya
Datos obtenidos para Kenya: Kenia
Procesando país: Kiribati
Datos obtenidos para Kiribati: Kiribati
Procesando país: Kosovo
Datos obtenidos para Kosovo: Kosovo
Procesando país: Kuwait
Datos obtenidos para Kuwait: Kuwait
Procesando país: Kyrgyzstan
Datos obtenidos para Kyrgyzstan: Kirguizistán
Procesando país: Laos
Datos obtenidos para Laos: Laos
Procesando país: Latvia
Datos obtenidos para Latvia: Letonia
Procesando país: Lebanon
Datos obtenidos para Lebanon: Líbano
Procesando país: Lesotho
Datos obtenidos para Lesotho: Lesotho
Procesando país: Liberia
Datos obtenidos para Liberia: Liberia
Procesando país: Libya
Datos obtenidos para Libya: Libia
Procesando país: Liechtenstein
Datos obtenidos para Liechtenstein: Liechtenstein
Procesando país: Lithuania
Datos obtenidos para Lithuania: Lituania
Procesando país: Luxembourg
Datos obtenidos para Luxembourg: Luxemburgo
Procesando país: Macao
Datos obtenidos para Macao: Macao
Procesando país: Macedonia
Datos obtenidos para Macedonia: Macedonia del Norte
Procesando país: Madagascar
Datos obtenidos para Madagascar: Madagascar
Procesando país: Malawi
Datos obtenidos para Malawi: Malawi
Procesando país: Malaysia
Datos obtenidos para Malaysia: Malasia
Procesando país: Maldives
Datos obtenidos para Maldives: Maldivas
Procesando país: Mali
Datos obtenidos para Mali: Somalia
Procesando país: Malta
Datos obtenidos para Malta: Malta
Procesando país: Marshall Islands
Datos obtenidos para Marshall Islands: Islas Marshall
Procesando país: Martinique
Datos obtenidos para Martinique: Martinica
Procesando país: Mauritania
Datos obtenidos para Mauritania: Mauritania
Procesando país: Mauritius
Datos obtenidos para Mauritius: Mauricio
Procesando país: Mayotte
Datos obtenidos para Mayotte: Mayotte
Procesando país: Mexico
Datos obtenidos para Mexico: México
Procesando país: Micronesia
Datos obtenidos para Micronesia: Micronesia
Procesando país: Moldova
Datos obtenidos para Moldova: Moldavia
Procesando país: Monaco
Datos obtenidos para Monaco: Mónaco
Procesando país: Mongolia
Datos obtenidos para Mongolia: Mongolia
Procesando país: Montenegro
Datos obtenidos para Montenegro: Montenegro
Procesando país: Montserrat
Datos obtenidos para Montserrat: Montserrat
Procesando país: Morocco
Datos obtenidos para Morocco: Marruecos
Procesando país: Mozambique
Datos obtenidos para Mozambique: Mozambique
Procesando país: Myanmar
Datos obtenidos para Myanmar: Myanmar
Procesando país: Namibia
Datos obtenidos para Namibia: Namibia
Procesando país: Nauru
Datos obtenidos para Nauru: Nauru
Procesando país: Nepal
Datos obtenidos para Nepal: Nepal
Procesando país: Netherlands
Datos obtenidos para Netherlands: Países Bajos
Procesando país: New Caledonia
Datos obtenidos para New Caledonia: Nueva Caledonia
Procesando país: New Zealand
Datos obtenidos para New Zealand: Nueva Zelanda
Procesando país: Nicaragua
Datos obtenidos para Nicaragua: Nicaragua
Procesando país: Niger
Datos obtenidos para Niger: Nigeria
Procesando país: Nigeria
Datos obtenidos para Nigeria: Nigeria
Procesando país: Niue
Datos obtenidos para Niue: Niue
Procesando país: North Korea
Datos obtenidos para North Korea: Corea del Norte
Procesando país: Norway
Datos obtenidos para Norway: Noruega
Procesando país: Oman
Datos obtenidos para Oman: Rumania
Procesando país: Pakistan
Datos obtenidos para Pakistan: Pakistán
Procesando país: Palestinian Territory
No se encontraron datos para Palestinian Territory
Procesando país: Panama
Datos obtenidos para Panama: Panamá
Procesando país: Papua New Guinea
Datos obtenidos para Papua New Guinea: Papúa Nueva Guinea
Procesando país: Paraguay
Datos obtenidos para Paraguay: Paraguay
Procesando país: Peru
Datos obtenidos para Peru: Perú
Procesando país: Philippines
Datos obtenidos para Philippines: Filipinas
Procesando país: Pitcairn
Datos obtenidos para Pitcairn: Islas Pitcairn
Procesando país: Poland
Datos obtenidos para Poland: Polonia
Procesando país: Portugal
Datos obtenidos para Portugal: Portugal
Procesando país: Qatar
Datos obtenidos para Qatar: Catar
Procesando país: Republic of the Congo
Datos obtenidos para Republic of the Congo: Congo (Rep. Dem.)
Procesando país: Reunion
Datos obtenidos para Reunion: Reunión
Procesando país: Russia
Datos obtenidos para Russia: Rusia
Procesando país: Rwanda
Datos obtenidos para Rwanda: Ruanda
Procesando país: Saint Kitts and Nevis
Datos obtenidos para Saint Kitts and Nevis: San Cristóbal y Nieves
Procesando país: Saint Lucia
Datos obtenidos para Saint Lucia: Santa Lucía
Procesando país: Saint Vincent and the Grenadines
Datos obtenidos para Saint Vincent and the Grenadines: San Vicente y Granadinas
Procesando país: Samoa
Datos obtenidos para Samoa: Samoa
Procesando país: San Marino
Datos obtenidos para San Marino: San Marino
Procesando país: Saudi Arabia
Datos obtenidos para Saudi Arabia: Arabia Saudí
Procesando país: Senegal
Datos obtenidos para Senegal: Senegal
Procesando país: Serbia
Datos obtenidos para Serbia: Serbia
Procesando país: Seychelles
Datos obtenidos para Seychelles: Seychelles
Procesando país: Sierra Leone
Datos obtenidos para Sierra Leone: Sierra Leone
Procesando país: Singapore
Datos obtenidos para Singapore: Singapur
Procesando país: Slovenia
Datos obtenidos para Slovenia: Eslovenia
Procesando país: Somalia
Datos obtenidos para Somalia: Somalia
Procesando país: South Africa
Datos obtenidos para South Africa: Sudáfrica
Procesando país: South Georgia and the South Sandwich Islands
Datos obtenidos para South Georgia and the South Sandwich Islands: Islas Georgias del Sur y Sandwich del Sur
Procesando país: South Korea
Datos obtenidos para South Korea: Corea del Sur
Procesando país: South Sudan
Datos obtenidos para South Sudan: Sudán del Sur
Procesando país: Spain
Datos obtenidos para Spain: España
Procesando país: Sri Lanka
Datos obtenidos para Sri Lanka: Sri Lanka
Procesando país: Sudan
Datos obtenidos para Sudan: Sudán del Sur
Procesando país: Suriname
Datos obtenidos para Suriname: Surinam
Procesando país: Swaziland
Datos obtenidos para Swaziland: Suazilandia
Procesando país: Sweden
Datos obtenidos para Sweden: Suecia
Procesando país: Switzerland
Datos obtenidos para Switzerland: Suiza
Procesando país: Syria
Datos obtenidos para Syria: Siria
Procesando país: Taiwan
Datos obtenidos para Taiwan: Taiwán
Procesando país: Tajikistan
Datos obtenidos para Tajikistan: Tayikistán
Procesando país: Tanzania
Datos obtenidos para Tanzania: Tanzania
Procesando país: Thailand
Datos obtenidos para Thailand: Tailandia
Procesando país: Togo
Datos obtenidos para Togo: Togo
Procesando país: Tonga
Datos obtenidos para Tonga: Tonga
Procesando país: Trinidad and Tobago
Datos obtenidos para Trinidad and Tobago: Trinidad y Tobago
Procesando país: Tunisia
Datos obtenidos para Tunisia: Túnez
Procesando país: Turkey
Datos obtenidos para Turkey: Turquía
Procesando país: Turkmenistan
Datos obtenidos para Turkmenistan: Turkmenistán
Procesando país: Uganda
Datos obtenidos para Uganda: Uganda
Procesando país: Ukraine
Datos obtenidos para Ukraine: Ucrania
Procesando país: United Arab Emirates
Datos obtenidos para United Arab Emirates: Emiratos Árabes Unidos
Procesando país: United Kingdom
Datos obtenidos para United Kingdom: Reino Unido
Procesando país: United States
Datos obtenidos para United States: Islas Vírgenes de los Estados Unidos
Procesando país: Uruguay
Datos obtenidos para Uruguay: Uruguay
Procesando país: U.S. Virgin Islands
No se encontraron datos para U.S. Virgin Islands
Procesando país: Uzbekistan
Datos obtenidos para Uzbekistan: Uzbekistán
Procesando país: Vanuatu
Datos obtenidos para Vanuatu: Vanuatu
Procesando país: Venezuela
Datos obtenidos para Venezuela: Venezuela
Procesando país: Vietnam
Datos obtenidos para Vietnam: Vietnam
Procesando país: Western Sahara
Datos obtenidos para Western Sahara: Sahara Occidental
Procesando país: Yemen
Datos obtenidos para Yemen: Yemen
Procesando país: Zambia
Datos obtenidos para Zambia: Zambia
Procesando país: Zimbabwe
Datos obtenidos para Zimbabwe: Zimbabue
DataFrame transformado:
                  pais
0           Afganistán
1        Aland Islands
2              Albania
3              Argelia
4      Samoa Americana
..                 ...
209            Vietnam
210  Sahara Occidental
211              Yemen
212             Zambia
213           Zimbabue

[214 rows x 1 columns]

In [29]:
loader.to_database(df_country, "country_dimension", "id_country")

Datos cargados exitosamente en la tabla country_dimension

# Extraer el producto desde la entidad de producto

In [123]:
h, data = extractor.extract('product', ['product'])

In [124]:
df_product = pd.DataFrame(data, columns=h)

In [125]:
df_product

                           product
0                   Marzipan 50/50
1        Bread - Roll, Whole Wheat
2     Cilantro / Coriander - Fresh
3               Sauce Tomato Pouch
4                        Mahi Mahi
...                            ...
2016         Crush - Orange, 355ml
2017          Bread - Hot Dog Buns
2018  Cheese - Bakers Cream Cheese
2019     Wine - Riesling Dr. Pauly
2020          Roe - Lump Fish, Red

[2021 rows x 1 columns]

In [33]:
loader.to_database(df_product, "product_dimension", "id_product")

Datos cargados exitosamente en la tabla product_dimension

# Extraer year, day, month

In [126]:
years_df, months_df, weekdays_df = extractor.extract_date_components("sale", "date_sale")

In [127]:
transformer_years = Transform(years_df)
transformer_months = Transform(months_df)
transformer_weekdays = Transform(weekdays_df)

transformed_years = transformer_years.transform_years()
transformed_months = transformer_months.transform_months()
transformed_weekdays = transformer_weekdays.transform_weekdays()

Transforming years DataFrame:
    year
0   2000
1   2001
2   2002
3   2003
4   2004
5   2005
6   2006
7   2007
8   2008
9   2009
10  2010
11  2011
12  2012
13  2013
14  2014
15  2015
16  2016
17  2017
18  2018
19  2019
20  2020
Transforming months DataFrame:
    month
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
Transformed months DataFrame:
    month_name
0        Enero
1      Febrero
2        Marzo
3        Abril
4         Mayo
5        Junio
6        Julio
7       Agosto
8   Septiembre
9      Octubre
10   Noviembre
11   Diciembre
Transforming weekdays DataFrame:
            date
0     2016-09-27
1     2013-02-11
2     2000-09-30
3     2010-10-11
4     2007-01-18
...          ...
4915  2020-07-08
4916  2012-08-22
4917  2019-10-15
4918  2007-10-21
4919  2015-06-13

[4920 rows x 1 columns]
Transformed weekdays DataFrame:
   weekday_name
8       Domingo
4        Jueves
1         Lunes
0        Martes
9     Miércoles
2        Sábado
27      Viernes

In [36]:
loader.to_database(transformed_years, 'year_dimension', 'id_year')

Datos cargados exitosamente en la tabla year_dimension

In [37]:
loader.to_database(transformed_months, 'meses_dimension', 'id_meses')

Datos cargados exitosamente en la tabla meses_dimension

In [38]:
loader.to_database(transformed_weekdays, 'dias_dimension', 'id_dias')

Datos cargados exitosamente en la tabla dias_dimension

# Ej. 1

In [187]:
stats_df = extractor.extract_statistics("sale")

In [188]:
stats_df.head()

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,Afghanistan,Female,Alize Gold Passion,31,2000,7,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,Afghanistan,Female,Almonds Ground Blanched,7,2005,12,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,Afghanistan,Female,Almonds Ground Blanched,28,2007,1,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,Afghanistan,Female,Appetizer - Chicken Satay,2,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,Afghanistan,Female,Apple - Macintosh,2,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000

In [189]:
facts_df = stats_df.copy()

In [190]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,Afghanistan,Female,Alize Gold Passion,31,2000,7,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,Afghanistan,Female,Almonds Ground Blanched,7,2005,12,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,Afghanistan,Female,Almonds Ground Blanched,28,2007,1,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,Afghanistan,Female,Appetizer - Chicken Satay,2,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,Afghanistan,Female,Apple - Macintosh,2,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,Zimbabwe,Female,Sesame Seed Black,28,2011,7,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,Zimbabwe,Female,Sobe - Liz Blizz,22,2011,8,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,Zimbabwe,Female,Spinach - Spinach Leaf,28,2011,7,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,Zimbabwe,Female,Uniform Linen Charge,28,2011,7,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,Zimbabwe,Female,Wine - Masi Valpolocell,26,2001,11,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [191]:
facts_df['gender'] = facts_df['gender'].map({'Male':'Hombre', 'Female':'Mujer'})

In [192]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,Afghanistan,Mujer,Alize Gold Passion,31,2000,7,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,Afghanistan,Mujer,Almonds Ground Blanched,7,2005,12,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,Afghanistan,Mujer,Almonds Ground Blanched,28,2007,1,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,Afghanistan,Mujer,Appetizer - Chicken Satay,2,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,Afghanistan,Mujer,Apple - Macintosh,2,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,Zimbabwe,Mujer,Sesame Seed Black,28,2011,7,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,Zimbabwe,Mujer,Sobe - Liz Blizz,22,2011,8,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,Zimbabwe,Mujer,Spinach - Spinach Leaf,28,2011,7,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,Zimbabwe,Mujer,Uniform Linen Charge,28,2011,7,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,Zimbabwe,Mujer,Wine - Masi Valpolocell,26,2001,11,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [193]:
dias_names = {
    0: "Lunes", 1: "Martes", 2: "Miércoles", 3: "Jueves", 4: "Viernes",
    5: "Sábado", 6: "Domingo"
}

In [194]:
facts_df["fecha_original"] = pd.to_datetime(facts_df[["year", "month", "day"]])

In [195]:
facts_df["fecha_original"] = pd.to_datetime(facts_df["fecha_original"], errors="coerce")

In [196]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid,fecha_original
0,Afghanistan,Mujer,Alize Gold Passion,31,2000,7,1,61454.52,61454.52,61454.52,None,61454.520000000000,2000-07-31
1,Afghanistan,Mujer,Almonds Ground Blanched,7,2005,12,1,36863.95,36863.95,36863.95,None,36863.950000000000,2005-12-07
2,Afghanistan,Mujer,Almonds Ground Blanched,28,2007,1,1,60404.92,60404.92,60404.92,None,60404.920000000000,2007-01-28
3,Afghanistan,Mujer,Appetizer - Chicken Satay,2,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000,2016-08-02
4,Afghanistan,Mujer,Apple - Macintosh,2,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000,2016-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63591,Zimbabwe,Mujer,Sesame Seed Black,28,2011,7,2,154296.76,77148.38,77148.38,0,77148.380000000000,2011-07-28
63592,Zimbabwe,Mujer,Sobe - Liz Blizz,22,2011,8,1,64537.12,64537.12,64537.12,None,64537.120000000000,2011-08-22
63593,Zimbabwe,Mujer,Spinach - Spinach Leaf,28,2011,7,1,77148.38,77148.38,77148.38,None,77148.380000000000,2011-07-28
63594,Zimbabwe,Mujer,Uniform Linen Charge,28,2011,7,1,77148.38,77148.38,77148.38,None,77148.380000000000,2011-07-28
63595,Zimbabwe,Mujer,Wine - Masi Valpolocell,26,2001,11,1,11279.50,11279.50,11279.50,None,11279.5000000000000000,2001-11-26

In [197]:
facts_df["day"] = facts_df["fecha_original"].apply(lambda x: x.weekday())

In [198]:
facts_df["day"] = facts_df["day"].map(dias_names)

In [199]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid,fecha_original
0,Afghanistan,Mujer,Alize Gold Passion,Lunes,2000,7,1,61454.52,61454.52,61454.52,None,61454.520000000000,2000-07-31
1,Afghanistan,Mujer,Almonds Ground Blanched,Miércoles,2005,12,1,36863.95,36863.95,36863.95,None,36863.950000000000,2005-12-07
2,Afghanistan,Mujer,Almonds Ground Blanched,Domingo,2007,1,1,60404.92,60404.92,60404.92,None,60404.920000000000,2007-01-28
3,Afghanistan,Mujer,Appetizer - Chicken Satay,Martes,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000,2016-08-02
4,Afghanistan,Mujer,Apple - Macintosh,Martes,2016,8,1,86835.00,86835.00,86835.00,None,86835.000000000000,2016-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63591,Zimbabwe,Mujer,Sesame Seed Black,Jueves,2011,7,2,154296.76,77148.38,77148.38,0,77148.380000000000,2011-07-28
63592,Zimbabwe,Mujer,Sobe - Liz Blizz,Lunes,2011,8,1,64537.12,64537.12,64537.12,None,64537.120000000000,2011-08-22
63593,Zimbabwe,Mujer,Spinach - Spinach Leaf,Jueves,2011,7,1,77148.38,77148.38,77148.38,None,77148.380000000000,2011-07-28
63594,Zimbabwe,Mujer,Uniform Linen Charge,Jueves,2011,7,1,77148.38,77148.38,77148.38,None,77148.380000000000,2011-07-28
63595,Zimbabwe,Mujer,Wine - Masi Valpolocell,Lunes,2001,11,1,11279.50,11279.50,11279.50,None,11279.5000000000000000,2001-11-26

In [200]:
month_names = {
            1: "Enero", 2: "Febrero", 3: "Marzo", 4: "Abril", 5: "Mayo", 6: "Junio",
            7: "Julio", 8: "Agosto", 9: "Septiembre", 10: "Octubre", 11: "Noviembre", 12: "Diciembre"
        }

In [201]:
facts_df['month'] = facts_df['month'].map(month_names)

In [202]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid,fecha_original
0,Afghanistan,Mujer,Alize Gold Passion,Lunes,2000,Julio,1,61454.52,61454.52,61454.52,None,61454.520000000000,2000-07-31
1,Afghanistan,Mujer,Almonds Ground Blanched,Miércoles,2005,Diciembre,1,36863.95,36863.95,36863.95,None,36863.950000000000,2005-12-07
2,Afghanistan,Mujer,Almonds Ground Blanched,Domingo,2007,Enero,1,60404.92,60404.92,60404.92,None,60404.920000000000,2007-01-28
3,Afghanistan,Mujer,Appetizer - Chicken Satay,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000,2016-08-02
4,Afghanistan,Mujer,Apple - Macintosh,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000,2016-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63591,Zimbabwe,Mujer,Sesame Seed Black,Jueves,2011,Julio,2,154296.76,77148.38,77148.38,0,77148.380000000000,2011-07-28
63592,Zimbabwe,Mujer,Sobe - Liz Blizz,Lunes,2011,Agosto,1,64537.12,64537.12,64537.12,None,64537.120000000000,2011-08-22
63593,Zimbabwe,Mujer,Spinach - Spinach Leaf,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000,2011-07-28
63594,Zimbabwe,Mujer,Uniform Linen Charge,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000,2011-07-28
63595,Zimbabwe,Mujer,Wine - Masi Valpolocell,Lunes,2001,Noviembre,1,11279.50,11279.50,11279.50,None,11279.5000000000000000,2001-11-26

In [96]:
unique_paises = df_country['country'].unique()

In [98]:
api_helper = Transform(df_country)

In [99]:
reverse_country = {}

In [102]:
for pais in unique_paises:
    data = api_helper.get_country_info(pais)
    if data:
        english_name = data.get('name', {}).get('common', pais)
        reverse_country[pais] = english_name
    else:
        reverse_country[pais] = pais

Datos obtenidos para Afghanistan: Afganistán
No se encontraron datos para Aland Islands
Datos obtenidos para Albania: Albania
Datos obtenidos para Algeria: Argelia
Datos obtenidos para American Samoa: Samoa Americana
Datos obtenidos para Andorra: Andorra
Datos obtenidos para Angola: Angola
Datos obtenidos para Anguilla: Anguilla
Datos obtenidos para Antigua and Barbuda: Antigua y Barbuda
Datos obtenidos para Argentina: Argentina
Datos obtenidos para Armenia: Armenia
Datos obtenidos para Aruba: Aruba
Datos obtenidos para Australia: Australia
Datos obtenidos para Austria: Austria
Datos obtenidos para Azerbaijan: Azerbaiyán
Datos obtenidos para Bahamas: Bahamas
Datos obtenidos para Bahrain: Bahrein
Datos obtenidos para Bangladesh: Bangladesh
Datos obtenidos para Barbados: Barbados
Datos obtenidos para Belarus: Bielorrusia
Datos obtenidos para Belgium: Bélgica
Datos obtenidos para Belize: Belice
Datos obtenidos para Benin: Benín
Datos obtenidos para Bermuda: Bermudas
Datos obtenidos para Bhutan: Bután
Datos obtenidos para Bolivia: Bolivia
No se encontraron datos para Bonaire, Saint Eustatius and Saba
Datos obtenidos para Bosnia and Herzegovina: Bosnia y Herzegovina
Datos obtenidos para Botswana: Botswana
Datos obtenidos para Brazil: Brasil
Datos obtenidos para Brunei: Brunei
Datos obtenidos para Bulgaria: Bulgaria
Datos obtenidos para Burkina Faso: Burkina Faso
Datos obtenidos para Burundi: Burundi
Datos obtenidos para Cambodia: Camboya
Datos obtenidos para Cameroon: Camerún
Datos obtenidos para Canada: Canadá
Datos obtenidos para Cape Verde: Cabo Verde
Datos obtenidos para Cayman Islands: Islas Caimán
Datos obtenidos para Central African Republic: República Centroafricana
Datos obtenidos para Chad: Chad
Datos obtenidos para Chile: Chile
Datos obtenidos para China: Hong Kong
Datos obtenidos para Cocos Islands: Islas Cocos o Islas Keeling
Datos obtenidos para Colombia: Colombia
Datos obtenidos para Comoros: Comoras
Datos obtenidos para Costa Rica: Costa Rica
Datos obtenidos para Croatia: Croacia
Datos obtenidos para Cuba: Cuba
Datos obtenidos para Curacao: Curazao
Datos obtenidos para Cyprus: Chipre
Datos obtenidos para Czech Republic: Chequia
Datos obtenidos para Democratic Republic of the Congo: Congo (Rep. Dem.)
Datos obtenidos para Denmark: Dinamarca
Datos obtenidos para Djibouti: Djibouti
Datos obtenidos para Dominica: Dominica
Datos obtenidos para Dominican Republic: República Dominicana
Datos obtenidos para East Timor: Timor Oriental
Datos obtenidos para Ecuador: Ecuador
Datos obtenidos para Egypt: Egipto
Datos obtenidos para El Salvador: El Salvador
Datos obtenidos para Equatorial Guinea: Guinea Ecuatorial
Datos obtenidos para Eritrea: Eritrea
Datos obtenidos para Estonia: Estonia
Datos obtenidos para Ethiopia: Etiopía
Datos obtenidos para Faroe Islands: Islas Faroe
Datos obtenidos para Fiji: Fiyi
Datos obtenidos para Finland: Finlandia
Datos obtenidos para France: Francia
Datos obtenidos para French Guiana: Guayana Francesa
Datos obtenidos para French Polynesia: Polinesia Francesa
Datos obtenidos para Gabon: Gabón
Datos obtenidos para Gambia: Gambia
Datos obtenidos para Georgia: Islas Georgias del Sur y Sandwich del Sur
Datos obtenidos para Germany: Alemania
Datos obtenidos para Ghana: Ghana
Datos obtenidos para Greece: Grecia
Datos obtenidos para Grenada: Grenada
Datos obtenidos para Guadeloupe: Guadalupe
Datos obtenidos para Guam: Guam
Datos obtenidos para Guatemala: Guatemala
Datos obtenidos para Guinea: Guinea Ecuatorial
Datos obtenidos para Guinea-Bissau: Guinea-Bisáu
Datos obtenidos para Guyana: Guyana
Datos obtenidos para Haiti: Haití
Datos obtenidos para Honduras: Honduras
Datos obtenidos para Hungary: Hungría
Datos obtenidos para Iceland: Islandia
Datos obtenidos para Indonesia: Indonesia
Datos obtenidos para Iran: Iran
Datos obtenidos para Iraq: Irak
Datos obtenidos para Ireland: Irlanda
Datos obtenidos para Israel: Israel
Datos obtenidos para Italy: Italia
Datos obtenidos para Ivory Coast: Costa de Marfil
Datos obtenidos para Jamaica: Jamaica
Datos obtenidos para Japan: Japón
Datos obtenidos para Jordan: Jordania
Datos obtenidos para Kazakhstan: Kazajistán
Datos obtenidos para Kenya: Kenia
Datos obtenidos para Kiribati: Kiribati
Datos obtenidos para Kosovo: Kosovo
Datos obtenidos para Kuwait: Kuwait
Datos obtenidos para Kyrgyzstan: Kirguizistán
Datos obtenidos para Laos: Laos
Datos obtenidos para Latvia: Letonia
Datos obtenidos para Lebanon: Líbano
Datos obtenidos para Lesotho: Lesotho
Datos obtenidos para Liberia: Liberia
Datos obtenidos para Libya: Libia
Datos obtenidos para Liechtenstein: Liechtenstein
Datos obtenidos para Lithuania: Lituania
Datos obtenidos para Luxembourg: Luxemburgo
Datos obtenidos para Macao: Macao
Datos obtenidos para Macedonia: Macedonia del Norte
Datos obtenidos para Madagascar: Madagascar
Datos obtenidos para Malawi: Malawi
Datos obtenidos para Malaysia: Malasia
Datos obtenidos para Maldives: Maldivas
Datos obtenidos para Mali: Somalia
Datos obtenidos para Malta: Malta
Datos obtenidos para Marshall Islands: Islas Marshall
Datos obtenidos para Martinique: Martinica
Datos obtenidos para Mauritania: Mauritania
Datos obtenidos para Mauritius: Mauricio
Datos obtenidos para Mayotte: Mayotte
Datos obtenidos para Mexico: México
Datos obtenidos para Micronesia: Micronesia
Datos obtenidos para Moldova: Moldavia
Datos obtenidos para Monaco: Mónaco
Datos obtenidos para Mongolia: Mongolia
Datos obtenidos para Montenegro: Montenegro
Datos obtenidos para Montserrat: Montserrat
Datos obtenidos para Morocco: Marruecos
Datos obtenidos para Mozambique: Mozambique
Datos obtenidos para Myanmar: Myanmar
Datos obtenidos para Namibia: Namibia
Datos obtenidos para Nauru: Nauru
Datos obtenidos para Nepal: Nepal
Datos obtenidos para Netherlands: Países Bajos
Datos obtenidos para New Caledonia: Nueva Caledonia
Datos obtenidos para New Zealand: Nueva Zelanda
Datos obtenidos para Nicaragua: Nicaragua
Datos obtenidos para Niger: Nigeria
Datos obtenidos para Nigeria: Nigeria
Datos obtenidos para Niue: Niue
Datos obtenidos para North Korea: Corea del Norte
Datos obtenidos para Norway: Noruega
Datos obtenidos para Oman: Rumania
Datos obtenidos para Pakistan: Pakistán
No se encontraron datos para Palestinian Territory
Datos obtenidos para Panama: Panamá
Datos obtenidos para Papua New Guinea: Papúa Nueva Guinea
Datos obtenidos para Paraguay: Paraguay
Datos obtenidos para Peru: Perú
Datos obtenidos para Philippines: Filipinas
Datos obtenidos para Pitcairn: Islas Pitcairn
Datos obtenidos para Poland: Polonia
Datos obtenidos para Portugal: Portugal
Datos obtenidos para Qatar: Catar
Datos obtenidos para Republic of the Congo: Congo (Rep. Dem.)
Datos obtenidos para Reunion: Reunión
Datos obtenidos para Russia: Rusia
Datos obtenidos para Rwanda: Ruanda
Datos obtenidos para Saint Kitts and Nevis: San Cristóbal y Nieves
Datos obtenidos para Saint Lucia: Santa Lucía
Datos obtenidos para Saint Vincent and the Grenadines: San Vicente y Granadinas
Datos obtenidos para Samoa: Samoa
Datos obtenidos para San Marino: San Marino
Datos obtenidos para Saudi Arabia: Arabia Saudí
Datos obtenidos para Senegal: Senegal
Datos obtenidos para Serbia: Serbia
Datos obtenidos para Seychelles: Seychelles
Datos obtenidos para Sierra Leone: Sierra Leone
Datos obtenidos para Singapore: Singapur
Datos obtenidos para Slovenia: Eslovenia
Datos obtenidos para Somalia: Somalia
Datos obtenidos para South Africa: Sudáfrica
Datos obtenidos para South Georgia and the South Sandwich Islands: Islas Georgias del Sur y Sandwich del Sur
Datos obtenidos para South Korea: Corea del Sur
Datos obtenidos para South Sudan: Sudán del Sur
Datos obtenidos para Spain: España
Datos obtenidos para Sri Lanka: Sri Lanka
Datos obtenidos para Sudan: Sudán del Sur
Datos obtenidos para Suriname: Surinam
Datos obtenidos para Swaziland: Suazilandia
Datos obtenidos para Sweden: Suecia
Datos obtenidos para Switzerland: Suiza
Datos obtenidos para Syria: Siria
Datos obtenidos para Taiwan: Taiwán
Datos obtenidos para Tajikistan: Tayikistán
Datos obtenidos para Tanzania: Tanzania
Datos obtenidos para Thailand: Tailandia
Datos obtenidos para Togo: Togo
Datos obtenidos para Tonga: Tonga
Datos obtenidos para Trinidad and Tobago: Trinidad y Tobago
Datos obtenidos para Tunisia: Túnez
Datos obtenidos para Turkey: Turquía
Datos obtenidos para Turkmenistan: Turkmenistán
Datos obtenidos para Uganda: Uganda
Datos obtenidos para Ukraine: Ucrania
Datos obtenidos para United Arab Emirates: Emiratos Árabes Unidos
Datos obtenidos para United Kingdom: Reino Unido
Datos obtenidos para United States: Islas Vírgenes de los Estados Unidos
Datos obtenidos para Uruguay: Uruguay
No se encontraron datos para U.S. Virgin Islands
Datos obtenidos para Uzbekistan: Uzbekistán
Datos obtenidos para Vanuatu: Vanuatu
Datos obtenidos para Venezuela: Venezuela
Datos obtenidos para Vietnam: Vietnam
Datos obtenidos para Western Sahara: Sahara Occidental
Datos obtenidos para Yemen: Yemen
Datos obtenidos para Zambia: Zambia
Datos obtenidos para Zimbabwe: Zimbabue

In [203]:
facts_df['country'] = facts_df['country'].map(reverse_country)

In [204]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid,fecha_original
0,Afghanistan,Mujer,Alize Gold Passion,Lunes,2000,Julio,1,61454.52,61454.52,61454.52,None,61454.520000000000,2000-07-31
1,Afghanistan,Mujer,Almonds Ground Blanched,Miércoles,2005,Diciembre,1,36863.95,36863.95,36863.95,None,36863.950000000000,2005-12-07
2,Afghanistan,Mujer,Almonds Ground Blanched,Domingo,2007,Enero,1,60404.92,60404.92,60404.92,None,60404.920000000000,2007-01-28
3,Afghanistan,Mujer,Appetizer - Chicken Satay,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000,2016-08-02
4,Afghanistan,Mujer,Apple - Macintosh,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000,2016-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63591,Zimbabwe,Mujer,Sesame Seed Black,Jueves,2011,Julio,2,154296.76,77148.38,77148.38,0,77148.380000000000,2011-07-28
63592,Zimbabwe,Mujer,Sobe - Liz Blizz,Lunes,2011,Agosto,1,64537.12,64537.12,64537.12,None,64537.120000000000,2011-08-22
63593,Zimbabwe,Mujer,Spinach - Spinach Leaf,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000,2011-07-28
63594,Zimbabwe,Mujer,Uniform Linen Charge,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000,2011-07-28
63595,Zimbabwe,Mujer,Wine - Masi Valpolocell,Lunes,2001,Noviembre,1,11279.50,11279.50,11279.50,None,11279.5000000000000000,2001-11-26

In [205]:
facts_df.drop(columns=["fecha_original"], inplace=True)

In [206]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,Afghanistan,Mujer,Alize Gold Passion,Lunes,2000,Julio,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,Afghanistan,Mujer,Almonds Ground Blanched,Miércoles,2005,Diciembre,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,Afghanistan,Mujer,Almonds Ground Blanched,Domingo,2007,Enero,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,Afghanistan,Mujer,Appetizer - Chicken Satay,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,Afghanistan,Mujer,Apple - Macintosh,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,Zimbabwe,Mujer,Sesame Seed Black,Jueves,2011,Julio,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,Zimbabwe,Mujer,Sobe - Liz Blizz,Lunes,2011,Agosto,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,Zimbabwe,Mujer,Spinach - Spinach Leaf,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,Zimbabwe,Mujer,Uniform Linen Charge,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,Zimbabwe,Mujer,Wine - Masi Valpolocell,Lunes,2001,Noviembre,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [207]:
facts_df['country'] = facts_df['country'].map(dict(zip(df_country['country'], df_country.index)))

In [208]:
facts_df['country'] = facts_df['country'].fillna(-1).astype(int)

In [209]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,0,Mujer,Alize Gold Passion,Lunes,2000,Julio,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,0,Mujer,Almonds Ground Blanched,Miércoles,2005,Diciembre,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,0,Mujer,Almonds Ground Blanched,Domingo,2007,Enero,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,0,Mujer,Appetizer - Chicken Satay,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,0,Mujer,Apple - Macintosh,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,213,Mujer,Sesame Seed Black,Jueves,2011,Julio,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,213,Mujer,Sobe - Liz Blizz,Lunes,2011,Agosto,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,213,Mujer,Spinach - Spinach Leaf,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,213,Mujer,Uniform Linen Charge,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,213,Mujer,Wine - Masi Valpolocell,Lunes,2001,Noviembre,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [210]:
facts_df['gender'] = facts_df['gender'].map(dict(zip(df_gender['genero'], df_gender.index)))
facts_df['gender'] = facts_df['gender'].fillna(-1).astype(int)

In [211]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,0,0,Alize Gold Passion,Lunes,2000,Julio,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,0,0,Almonds Ground Blanched,Miércoles,2005,Diciembre,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,0,0,Almonds Ground Blanched,Domingo,2007,Enero,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,0,0,Appetizer - Chicken Satay,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,0,0,Apple - Macintosh,Martes,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,213,0,Sesame Seed Black,Jueves,2011,Julio,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,213,0,Sobe - Liz Blizz,Lunes,2011,Agosto,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,213,0,Spinach - Spinach Leaf,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,213,0,Uniform Linen Charge,Jueves,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,213,0,Wine - Masi Valpolocell,Lunes,2001,Noviembre,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [212]:
facts_df['day'] = facts_df['day'].map(dict(zip(transformed_weekdays['weekday_name'], transformed_weekdays.index)))
facts_df['day'] = facts_df['day'].fillna(-1).astype(int)

In [213]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,0,0,Alize Gold Passion,1,2000,Julio,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,0,0,Almonds Ground Blanched,9,2005,Diciembre,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,0,0,Almonds Ground Blanched,8,2007,Enero,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,0,0,Appetizer - Chicken Satay,0,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,0,0,Apple - Macintosh,0,2016,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,213,0,Sesame Seed Black,4,2011,Julio,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,213,0,Sobe - Liz Blizz,1,2011,Agosto,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,213,0,Spinach - Spinach Leaf,4,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,213,0,Uniform Linen Charge,4,2011,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,213,0,Wine - Masi Valpolocell,1,2001,Noviembre,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [214]:
facts_df['year'] = facts_df['year'].map(dict(zip(transformed_years['year'], transformed_years.index)))
facts_df['year'] = facts_df['year'].fillna(-1).astype(int)

In [215]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,0,0,Alize Gold Passion,1,0,Julio,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,0,0,Almonds Ground Blanched,9,5,Diciembre,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,0,0,Almonds Ground Blanched,8,7,Enero,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,0,0,Appetizer - Chicken Satay,0,16,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,0,0,Apple - Macintosh,0,16,Agosto,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,213,0,Sesame Seed Black,4,11,Julio,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,213,0,Sobe - Liz Blizz,1,11,Agosto,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,213,0,Spinach - Spinach Leaf,4,11,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,213,0,Uniform Linen Charge,4,11,Julio,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,213,0,Wine - Masi Valpolocell,1,1,Noviembre,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [216]:
facts_df['month'] = facts_df['month'].map(dict(zip(transformed_months['month_name'], transformed_months.index)))
facts_df['month'] = facts_df['month'].fillna(-1).astype(int)

In [217]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,0,0,Alize Gold Passion,1,0,6,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,0,0,Almonds Ground Blanched,9,5,11,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,0,0,Almonds Ground Blanched,8,7,0,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,0,0,Appetizer - Chicken Satay,0,16,7,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,0,0,Apple - Macintosh,0,16,7,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,213,0,Sesame Seed Black,4,11,6,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,213,0,Sobe - Liz Blizz,1,11,7,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,213,0,Spinach - Spinach Leaf,4,11,6,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,213,0,Uniform Linen Charge,4,11,6,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,213,0,Wine - Masi Valpolocell,1,1,10,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [218]:
facts_df['product'] = facts_df['product'].map(dict(zip(df_product['product'], df_product.index)))
facts_df['product'] = facts_df['product'].fillna(-1).astype(int)

In [219]:
facts_df

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,0,0,102,1,0,6,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,0,0,1355,9,5,11,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,0,0,1355,8,7,0,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,0,0,446,0,16,7,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,0,0,1235,0,16,7,1,86835.00,86835.00,86835.00,None,86835.000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63591,213,0,338,4,11,6,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,213,0,948,1,11,7,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,213,0,1814,4,11,6,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,213,0,1722,4,11,6,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,213,0,1023,1,1,10,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [221]:
facts_df.head()

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
0,0,0,102,1,0,6,1,61454.52,61454.52,61454.52,None,61454.520000000000
1,0,0,1355,9,5,11,1,36863.95,36863.95,36863.95,None,36863.950000000000
2,0,0,1355,8,7,0,1,60404.92,60404.92,60404.92,None,60404.920000000000
3,0,0,446,0,16,7,1,86835.00,86835.00,86835.00,None,86835.000000000000
4,0,0,1235,0,16,7,1,86835.00,86835.00,86835.00,None,86835.000000000000

In [222]:
facts_df.tail()

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
63591,213,0,338,4,11,6,2,154296.76,77148.38,77148.38,0,77148.380000000000
63592,213,0,948,1,11,7,1,64537.12,64537.12,64537.12,None,64537.120000000000
63593,213,0,1814,4,11,6,1,77148.38,77148.38,77148.38,None,77148.380000000000
63594,213,0,1722,4,11,6,1,77148.38,77148.38,77148.38,None,77148.380000000000
63595,213,0,1023,1,1,10,1,11279.50,11279.50,11279.50,None,11279.5000000000000000

In [223]:
facts_df.sample(10)

,country,gender,product,day,year,month,count_sale_paid,sum_sale_paid,min_sale_paid,max_sale_paid,std_sale_paid,mean_sale_paid
49721,158,1,675,1,17,5,1,34265.70,34265.70,34265.70,None,34265.700000000000
18621,44,0,853,0,0,3,1,59647.07,59647.07,59647.07,None,59647.070000000000
20371,-1,0,767,8,4,11,1,61137.54,61137.54,61137.54,None,61137.540000000000
37959,130,0,1922,9,17,0,1,73491.83,73491.83,73491.83,None,73491.830000000000
437,2,1,1029,0,17,9,1,31133.22,31133.22,31133.22,None,31133.220000000000
35377,98,0,207,8,17,10,1,69892.44,69892.44,69892.44,None,69892.440000000000
41647,154,0,1380,8,9,10,1,74596.96,74596.96,74596.96,None,74596.960000000000
42757,155,0,151,8,0,5,1,26035.48,26035.48,26035.48,None,26035.480000000000
52197,162,1,485,0,19,2,1,39895.16,39895.16,39895.16,None,39895.160000000000
34389,96,0,30,2,18,1,1,55444.77,55444.77,55444.77,None,55444.770000000000